html {    
    background-repeat: no-repeat;
    background-position: 100% 7%;
    background-size:15%;

    overflow-y: scroll;
    min-width: 300px;

}
body {
    margin: 0;
}
.banner {
    background-color: dodgerblue;
}
.container {
    max-width:1100px;
    margin: 0 auto;
    padding: 0 1.5rem;
    width: auto;
}
.container.of-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}
.container.of-header li {
    float:left;
}
.container.of-header li a {
    display: block;
    color: white;
    text-align: center;
    font-size: xx-large;
    padding: 16px;
    text-decoration: none;
}
.container.of-header li a:hover {
    background-color: deepskyblue;
    /*rgb(62, 146, 146);*/
}
.container.of-header .is-selected {
    background-color:deepskyblue;
}
h1 {
    color:deeppink;
}
h2 {
    color:dodgerblue;
}
* {
    box-sizing: border-box;
}

body > div.container {
    min-height: 650px;
}

/* FLEX BOX */
.columns {
    display:flex;
}
.column {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
    font-size: 2rem;  
    
}
a {
    text-decoration: none;
}
.bang {
    color: white;
    background-image: linear-gradient(to right, dodgerblue, deepskyblue);    
    padding: 3rem 1.5rem;
}




hr {
    display: block;
    height: 2px;
    margin: 1.5rem 0;
}
/* *** */
.footer {
    background-color:#f5f5f5;
    font-size: 0.75rem;
    padding: 2rem 0rem 3rem 0rem;
}
@media only screen and (max-width: 768px) {
    /* For Mobile: */
    /*flex-direction: column;*/
    .columns {
        flex-direction: column;
    }
    .container.of-header li {
        float: none;
    }
}