html {
    
    background-repeat: no-repeat;
    background-position: 100% 7%;
    background-size:15%;

}
.banner {
    background-color: dodgerblue;
}
.container {
   max-width:1100px;
   width:1100px;
   margin:auto; 
}
.container.of-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}
.container.of-header li {
    float:left;
}
.container.of-header li a {
    display: block;
    color: white;
    text-align: center;
    font-size: xx-large;
    padding: 16px;
    text-decoration: none;
}
.container.of-header li a:hover {
    background-color: deepskyblue;
    /*rgb(62, 146, 146);*/
}
.container.of-header .is-selected {
    background-color:deepskyblue;
}
h1 {
    color:deeppink;
}
h2 {
    color:dodgerblue;
}
* {
    box-sizing: border-box;
}

/* FLEX BOX */
.columns {
    display:flex;
}
.column {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
    font-size: 2rem;  
    
}
a {
    text-decoration: none;
}
.bang {
    color: white;
    background-image: linear-gradient(to right, dodgerblue, deepskyblue);    
    padding: 3rem 1.5rem;
}