/*gradient: https://www.gradientmagic.com/collection/rainbowstandard*/
@import url("https://fonts.googleapis.com/css?family=Lato:300");
html {    
    background-repeat: no-repeat;
    background-position: 100% 7%;
    background-size:15%;

    overflow-y: scroll;
    min-width: 300px;

}
body {
    margin: 0;
}
.banner {
    background-color: dodgerblue;
}
.container {
    max-width:1100px;
    margin: 0 auto;
    padding: 0 1.5rem;
    width: auto;
}
.container.of-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}
.container.of-header li {
    float:left;
}
.container.of-header li a {
    display: block;
    color: white;
    text-align: center;
    font-size: xx-large;
    padding: 16px;
    text-decoration: none;
}
.container.of-header li a:hover {
    background-color: deepskyblue;
    /*rgb(62, 146, 146);*/
}
.container.of-header .is-selected {
    background-color: deepskyblue;
}
h1 {
    color:deeppink;
}
h2 {
    color:dodgerblue;
}
* {
    box-sizing: border-box;
}

/* HEAD */
/* .eyes */
.eyes {
    margin-bottom: 24px;
}
.eyes ul {
    display:flex;
    flex-direction:row;
    list-style-type: none;
    margin:0;
    padding:0;
    align-items: center;
}
.eyes li {
    flex-basis: 25%;
    text-align:center;
    line-height: 2.3rem;
    font-weight:500;
    border: 1px solid lightgrey;
    margin:-1px 0 0 -1px;
    font-size:1.4rem;
}
.eyes li:hover {
    background-color: rgba(182, 182, 182, 0.1);
    cursor: pointer;
    color:black;
}
li.active:hover {
    background-color:deepskyblue;
    
    color:white;
}
.gearSel.active {
    background-color:deepskyblue;
    font-weight:800;
    color:white;
    border-color:deepskyblue;
}
.eyes .gearSel {
    padding-bottom: 2px;
}
/**/
.columns {
    display:flex;
}
.column {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}
/*.columns .column {
    border: 1px solid red;
}*/
.select.is-fullwidth, .select.is-fullwidth select {
    width: 100%;
}
.select select {
    cursor: pointer;
    display: block;
    font-size: 1rem;
    max-width: 100%;
    height: 2.5em;
    outline: none;
    padding: 0.5em 0.5em;
    

    border-color: #dbdbdb;
    border-radius: 4px;
    margin-bottom: 0.5em;

}
.label {
    /*color: #363636;*/
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom:0.5rem;
}
.input {
    box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
    max-width: 100%;
    width: 100%;
    height: 2.5em;
    border: 1px solid transparent;
    border-color: #dbdbdb;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5em 0.5em;

}
.tags .tag {
    margin-bottom: 0.5rem;
    font-size: 0.9em;
}
.tags .tag {
    margin-right: 0.5rem;
}
.tags {
    margin-bottom: 1rem;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: FLEX-START;
    align-items: center;
}
.tag:not(body) {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: .75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
}
.tag:not(body).is-activated {
    box-shadow: 0 0 0 2pt #48c774;
}
.tag.MG.is-activated {
    color:darkorange;
}
.tag.ALL.is-activated {
    color:rgb(0, 204, 204);
}
.tag.Hyper.is-activated {
    /* SOMETHING COOL */
    background-image: url("../images/fire.png");
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    max-width: 100%;
    height:80px;
    color:white;font-size:2.5rem;font-weight: 800;
}
#guomPickOne .is-activated {
    color:red;
}
#virusPickOne .is-activated {
    color:blue;
}
.tag.LC.is-activated {
    color:orange;
}
#holoPickOne .is-activated {
    color:green;
}
#ccPickOne .is-activated {
    color:magenta;
}
.card-content ul {
    padding-left:24px;
}
#agPickOne, #ccPickOne {
    display: flex;
    flex-wrap: wrap;
}
#holoPickOne, #virusPickOne, #guomPickOne, #ga3PickOne, #ga2PickOne, #ga1PickOne {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
/*.card {
    
}*/
div.label {
    text-align:center;
}
.invi {
    display: none;
}
.input0Del {
    width: 50px;
    font-size: 1em;
}










hr {
    display: block;
    height: 2px;
    margin: 1.5rem 0;
}
/* *** */
.footer {
    background-color:#f5f5f5;
    font-size: 0.75rem;
    padding: 2rem 0rem 3rem 0rem;
}


@media only screen and (max-width: 768px) {
    /* For Mobile: */
    /*flex-direction: column;*/
    .columns {
        flex-direction: column;
    }
    .tag.Hyper.is-activated {
        font-size: 2.1rem;
    }
}